CentOS-6-x86_64/build.log
CentOS-6-x86_64/output
CentOS-6-x86_64/packer_cache
CentOS-7-x86_64/build.log
CentOS-7-x86_64/output
CentOS-7-x86_64/packer_cache
Ubuntu-14.04-x86_64/packer_cache
Ubuntu-14.04-x86_64/output
CentOS-7-x86_64/packer.log
Ubuntu-14.04-x86_64/packer.log